@page
@using Eravol.UserWebApi.Data.Models;
@using Eravol.WebApi.Data.Models;
@using Eravol.WebApi.ViewModels.Posts.Clients;
@model Eravol.UIClient.Pages.Posts.Clients.CreateModel
@{
    List<Category> Categories = Model.Categories;
    List<PostSkillRequired> PostSkillRequired = Model.PostSkillRequireds;
    List<Skill> Skills = Model.Skills;
    CreatePostRequest CreateRequest = Model.CreatePostRequest;
    string? token = Model.token;
}

<head>
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/basictable.css">
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link rel="stylesheet" href="~/css/dbresponsive.css">
    <head>
        <style>
            .expanded {
                transform: scaleY(1);
            }

            .collapsed {
                transform: scaleY(0);
                transform-origin: top;
            }
        </style>
    </head>
    <script src="~/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout">
    <!--Sidebar Start-->
    @await Component.InvokeAsync("DashboardSideBarComponent")
    <!--Sidebar Start-->
    <!--Register Form Start-->
    <section class="wt-haslayout wt-dbsectionspace">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 float-left">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxtitle">
                        <h2>Post a Job</h2>
                    </div>
                    <div class="wt-dashboardboxcontent">
                        <div class="wt-jobdescription wt-tabsinfo">
                            <div class="wt-tabscontenttitle">
                                <h2>Job Description</h2>
                            </div>
                            <form class="wt-formtheme wt-userform wt-userformvtwo">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="text" name="postTitle" id="postTitle_Js" class="form-control" placeholder="Job Title">
                                        <input type="hidden" name="postTitle" value="@token" id="token_Js">
                                    </div>
                                    <div class="form-group form-group-half wt-formwithlabel">

                                        <span>
                                            <input type="date" id="expirationDate_JS" name="expirationDate" class="form-control" placeholder="Expiration Date"></input>
                                        </span>
                                    </div>
                                    <div class="form-group form-group-half wt-formwithlabel">
                                        <span class="wt-select">
                                            <label for="selectoption">Category:</label>
                                            <select required id="categoryId_Js" name="categoryId">
                                                <option value=""> Select Category</option>
                                                @foreach (var item in Categories)
                                                {
                                                    <option value="@item.CategoryId">@item.CategoryName</option>
                                                }
                                            </select>
                                        </span>
                                    </div>
                                    <div class="form-group form-group-half wt-formwithlabel">
                                        <span class="wt-input d-flex flex-column">
                                            <input type="text" name="budget" id="budget_Js" class="form-control" placeholder="Input Budget:"></input>
                                        </span>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="wt-jobdetails wt-tabsinfo">
                            <div class="wt-tabscontenttitle">
                                <h2>Job Description</h2>
                            </div>
                            <form class="wt-formtheme wt-userform wt-userformvtwo">
                                <fieldset>
                                    <div class="form-group">
                                        <textarea placeholder="Add Job Detail Here" id="sortDesc_Js" name="sortDesc" style="width: 100%;height:200px;"></textarea>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="wt-jobdetails wt-tabsinfo">
                            <div class="wt-tabscontenttitle">
                                <h2>Job Details</h2>
                            </div>
                            <form class="wt-formtheme wt-userform wt-userformvtwo">
                                <fieldset>
                                    <div class="form-group">
                                        <textarea id="wt-ckeditor" style="height: 300px" name="postDetails" class="wt-tinymceeditor" placeholder="Add Job Detail Here"></textarea>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="wt-jobskills wt-tabsinfo">
                            <div class="wt-tabscontenttitle">
                                <h2>Skills Required</h2>
                            </div>
                            <div class="wt-skillscontent-holder">
                                <form class="wt-formtheme wt-skillsform">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="form-group-holder">
                                                <input type="text" id="searchSkillInput" placeholder="Search" class="form-control">
                                                <span class="wt-select">
                                                    <select id="select-skill_display">
                                                        <option value="">Select Your Skill</option>
                                                        @foreach (var skill in Skills)
                                                        {
                                                            <option value="@skill.Id">@skill.SkillName</option>
                                                        }
                                                    </select>
                                                    
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group wt-btnarea">
                                            <button type="button" id="btn-skill_add" class="wt-btn">Add Skills</button>
                                        </div>
                                    </fieldset>
                                </form>
                                <div class="wt-myskills">
                                    <ul class="sortable list" id="ul-skill_list">
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="wt-updatall" id="submit-container" >
                    <i class="ti-announcement"></i>
                    <span>Post job by just clicking on “Post Job Now” button.</span>
                    <a class="wt-btn" href="javascript:void(0);" id="create-post-button">Post Job Now</a>
                </div>
            </div>
        </div>
    </section>
    <!--Register Form End-->
</main>
<!--Main End-->
@section scripts{

    <script src="https://cdn.tiny.cloud/1/xb41srbe20jwghubvngbzc8fnb6m02d3nomv82zvyw5srhia/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/posts/postscript.js"></script>
    <script>
        tinymce.init({
            selector: '#wt-ckeditor',

            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>
}