@page
@using Eravol.UserWebApi.Data.Models;
@using Eravol.WebApi.Data.Models;
@using Eravol.WebApi.ViewModels.Posts.Clients;
@model Eravol.UIClient.Pages.Posts.Clients.CreateModel
@{
    List<Category> Categories = Model.Categories;
    List<PostSkillRequired> PostSkillRequired = Model.PostSkillRequireds;
    List<Skill> Skills = Model.Skills;
    CreatePostRequest CreateRequest = Model.CreatePostRequest;
    string? token = Model.token;
}

<head>
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/basictable.css">
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link rel="stylesheet" href="~/css/dbresponsive.css">
    <script src="~/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout">
    <!--Sidebar Start-->
    @await Component.InvokeAsync("DashboardSideBarComponent")
    <!--Sidebar Start-->
    <!--Register Form Start-->
    <section class="wt-haslayout wt-dbsectionspace">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 float-left">
                <div class="wt-dashboardbox">
                    <div class="wt-dashboardboxtitle">
                        <h2>Post a Job</h2>
                    </div>
                    <div class="wt-dashboardboxcontent">
                        <div class="wt-jobdescription wt-tabsinfo">
                            <div class="wt-tabscontenttitle">
                                <h2>Job Description</h2>
                            </div>
                            <form class="wt-formtheme wt-userform wt-userformvtwo">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="text" name="postTitle" id="postTitle_Js" class="form-control" placeholder="Job Title">
                                        <input type="hidden" name="postTitle" value="@token" id="token_Js">
                                    </div>
                                    <div class="form-group form-group-half wt-formwithlabel">

                                        <span>
                                            <input type="date" id="expirationDate_JS" name="expirationDate" class="form-control" placeholder="Expiration Date"></input>
                                        </span>
                                    </div>
                                    <div class="form-group form-group-half wt-formwithlabel">
                                        <span class="wt-select">
                                            <label for="selectoption">Category:</label>
                                            <select required id="categoryId_Js" name="categoryId">
                                                <option value=""> Select Category</option>
                                                @foreach (var item in Categories)
                                                {
                                                    <option value="@item.CategoryId">@item.CategoryName</option>
                                                }
                                            </select>
                                        </span>
                                    </div>
                                    <div class="form-group form-group-half wt-formwithlabel">
                                        <span class="wt-input d-flex flex-column">
                                            <input type="text" name="budget" id="budget_Js" class="form-control" placeholder="Input Budget:"></input>
                                        </span>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="wt-jobdetails wt-tabsinfo">
                            <div class="wt-tabscontenttitle">
                                <h2>Job Description</h2>
                            </div>
                            <form class="wt-formtheme wt-userform wt-userformvtwo">
                                <fieldset>
                                    <div class="form-group">
                                        <textarea placeholder="Add Job Detail Here" id="sortDesc_Js" name="sortDesc" style="width: 100%;height:200px;"></textarea>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="wt-jobdetails wt-tabsinfo">
                            <div class="wt-tabscontenttitle">
                                <h2>Job Details</h2>
                            </div>
                            <form class="wt-formtheme wt-userform wt-userformvtwo">
                                <fieldset>
                                    <div class="form-group">
                                        <textarea id="wt-ckeditor" style="height: 300px" name="postDetails" class="wt-tinymceeditor" placeholder="Add Job Detail Here"></textarea>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="wt-jobskills wt-tabsinfo">
                            <div class="wt-tabscontenttitle">
                                <h2>Skills Required</h2>
                            </div>
                            <form class="wt-formtheme wt-userform wt-userformvtwo">
                                <fieldset>
                                    <div class="form-group">
                                        <select class="chosen-select Skills" data-placeholder="Skills" name="SkillsId" multiple id="postSkillId_Js">
                                            @foreach (var item in Skills)
                                            {
                                                <option value="@item.Id" onclick="GetSkillId(@item.Id)">@item.SkillName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group wt-myskills">
                                        <ul class="">
                                            <li>
                                                <div class="wt-dragdroptool">
                                                    <a href="javascript:void(0)" class="lnr lnr-menu"></a>
                                                </div>
                                                <span class="skill-dynamic-html">php (<em class="skill-val">90</em>%)</span>
                                                <span class="skill-dynamic-field">
                                                    <input type="text" name="skills[1][percentage]" value="90">
                                                </span>
                                                <div class="wt-rightarea">
                                                    <a href="javascript:void(0);" class="wt-deleteinfo"><i class="lnr lnr-trash"></i></a>
                                                </div>
                                            </li>
                                            <li class="">
                                                <div class="wt-dragdroptool"><a href="javascript:void(0)" class="lnr lnr-menu"></a></div>
                                                <span class="skill-dynamic-html">Website Design (<em class="skill-val">90</em>%)</span>
                                                <span class="skill-dynamic-field">
                                                    <input type="text" name="skills[1][percentage]" value="90">
                                                </span>
                                                <div class="wt-rightarea">
                                                    <a href="javascript:void(0);" class="wt-deleteinfo"><i class="lnr lnr-trash"></i></a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="wt-dragdroptool handle"><a href="javascript:void(0)" class="lnr lnr-menu"></a></div>
                                                <span class="skill-dynamic-html">HTML 5 (<em class="skill-val">90</em>%)</span>
                                                <span class="skill-dynamic-field">
                                                    <input type="text" name="skills[1][percentage]" value="90">
                                                </span>
                                                <div class="wt-rightarea">
                                                    <a href="javascript:void(0);" class="wt-deleteinfo"><i class="lnr lnr-trash"></i></a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="wt-dragdroptool handle"><a href="javascript:void(0)" class="lnr lnr-menu"></a></div>
                                                <span class="skill-dynamic-html">Graphic Design (<em class="skill-val">80</em>%)</span>
                                                <span class="skill-dynamic-field">
                                                    <input type="text" name="skills[1][percentage]" value="90">
                                                </span>
                                                <div class="wt-rightarea">
                                                    <a href="javascript:void(0);" class="wt-deleteinfo"><i class="lnr lnr-trash"></i></a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="wt-dragdroptool handle"><a href="javascript:void(0)" class="lnr lnr-menu"></a></div>
                                                <span class="skill-dynamic-html">Rate Your Skill (<em class="skill-val">10</em>%)</span>
                                                <span class="skill-dynamic-field">
                                                    <input type="text" name="skills[1][percentage]" value="90">
                                                </span>
                                                <div class="wt-rightarea">
                                                    <a href="javascript:void(0);" class="wt-deleteinfo"><i class="lnr lnr-trash"></i></a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="wt-dragdroptool handle"><a href="javascript:void(0)" class="lnr lnr-menu"></a></div>
                                                <span class="skill-dynamic-html">SEO (<em class="skill-val">35</em>%)</span>
                                                <span class="skill-dynamic-field">
                                                    <input type="text" name="skills[1][percentage]" value="90">
                                                </span>
                                                <div class="wt-rightarea">
                                                    <a href="javascript:void(0);" class="wt-deleteinfo"><i class="lnr lnr-trash"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="wt-attachmentsholder">
                            <div class="wt-tabscontenttitle">
                                <h2>Attachments</h2>
                                <div class="wt-rightarea">
                                    <span>Show “Attachments” after hiring</span>
                                    <div class="wt-on-off float-right">
                                        <input type="checkbox" id="hide-on" name="contact_form">
                                        <label for="hide-on"><i></i></label>
                                    </div>
                                </div>
                            </div>
                            <form class="wt-formtheme wt-formprojectinfo wt-formcategory">
                                <fieldset>
                                    <div class="form-group form-group-label">
                                        <div class="wt-labelgroup">
                                            <label for="file">
                                                <span class="wt-btn">Select Files</span>
                                                <input type="file" name="file" id="file">
                                            </label>
                                            <span>Drop files here to upload</span>
                                            <em class="wt-fileuploading">Uploading<i class="fa fa-spinner fa-spin"></i></em>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <ul class="wt-attachfile">
                                            <li class="wt-uploading">
                                                <span class="uploadprogressbar"></span>
                                                <span>Wireframe Document.doc</span>
                                                <em>File size: 512 kb<a href="javascript:void(0);" class="lnr lnr-cross"></a></em>
                                            </li>
                                            <li>
                                                <span class="uploadprogressbar"></span>
                                                <span>Requirments.pdf</span>
                                                <em>File size: 110 kb<a href="javascript:void(0);" class="lnr lnr-cross"></a></em>
                                            </li>
                                            <li class="wt-uploaded">
                                                <span class="uploadprogressbar"></span>
                                                <span>Company Intro.docx</span>
                                                <em>File size: 224 kb<a href="javascript:void(0);" class="lnr lnr-cross"></a></em>
                                            </li>
                                        </ul>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="wt-updatall" id="submit-container" onclick="handleSubmitPosts()">
                    <i class="ti-announcement"></i>
                    <span>Post job by just clicking on “Post Job Now” button.</span>
                    <a class="wt-btn" href="javascript:void(0);" id="create-post-button">Post Job Now</a>
                </div>
            </div>
        </div>
    </section>
    <!--Register Form End-->
</main>
<!--Main End-->
@section scripts{

    <script src="https://cdn.tiny.cloud/1/xb41srbe20jwghubvngbzc8fnb6m02d3nomv82zvyw5srhia/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/posts/postscript.js"></script>
    <script>
        tinymce.init({
            selector: '#wt-ckeditor',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>
}